.deck-container .deck-status {
  position: absolute;
  bottom: 12px;
  right: 20px;
  color: #888;
}

body.deck-container .deck-status {
  position: fixed;
}

@media print {
  .deck-status {
    display: none;
  }
}
